# Strings

A string is a sequence of characters. It is usually written using \fcolorbox{black}{yellow}{quotation marks}.

In [1]:
string1 = 'Welcome'
print(string1)

Welcome

Triple quotes string can extend multiple lines

In [2]:
string2 = ''' welcome
to the world of
python programming'''
print(string2)

 welcome
to the world of
python programming

Concatenation of strings

In [3]:
print(string1 + string2)

Welcome welcome
to the world of
python programming

Iterating through a string

In [4]:
letter_count = 0
for letters in 'Hello world':
  if letters == 'l':
    letter_count += 1
print(letter_count)

3

String membership

In [5]:
print('l' in 'hello')
print('l' not in 'hello')

True
False

Built-in functions

In [6]:
string = 'university'
# using enumerate()
list(enumerate(string))

[(0, 'u'),
 (1, 'n'),
 (2, 'i'),
 (3, 'v'),
 (4, 'e'),
 (5, 'r'),
 (6, 's'),
 (7, 'i'),
 (8, 't'),
 (9, 'y')]

escape character

In [7]:
print("In Jesus' name") # If you want to use single quotes in a string, use double quotes to close the string

In Jesus' name

string methods

In [8]:
print('gOOD moRning tO all'.lower())
print('gOOD moRning tO all'.upper())
print('gOOD moRning tO all'.title())
print('gOOD moRning tO all'.replace('all', 'everybody'))

good morning to all
GOOD MORNING TO ALL
Good Morning To All
gOOD moRning tO everybody

- Regular expression evaluation: segmenting string looking for patterns

In [9]:
firstname = 'Brian'
lastname = 'Chege'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Brian' in firstname)

Brian Chege
BrianBrianBrian
True

In [10]:
firstname = 'Brian Chege Gitu'.split(' ')[0]
lastname = 'Brian Chege Gitu'.split(' ')[-1]
print(firstname)
print(lastname)

Brian
Gitu

- A glimpse of Python string formatting:
    1. Allows you to write a string statement indicating placeholders
    2. Then pass these variables in either named of in order of arguments

In [11]:
sales_record = {'price': 3.24,
                'num_items': 4,
                'person': 'Brian'}

sales_statement = '{} bought {} items(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Brian bought 4 items(s) at a price of 3.24 each for a total of 12.96